@import "reset-css.scss";
body {
    // font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif !important;
    // color: #1f1f1f !important;
    line-height: 1.2rem !important;
    font-size: 1rem;
}


/* end  max-height -min-height -max-width -min-width px*/


/* table css */

.table {
    thead th {
        padding: .4rem .6rem;
        vertical-align: middle;
        background-color: var(--bs-primary) !important;
        color: var(--bs-light) !important;
        &.row-icon {
            padding: 0;
            margin: 0;
        }
    }
    tbody td {
        padding: .4rem .6rem;
        vertical-align: middle;
        &.row-icon {
            padding: 0;
            margin: 0;
        }
    }
    tr {
        &.disabled {
            td,
            th {
                background-color: #f8f8f8 !important;
                pointer-events: none;
            }
        }
        &.active {
            td,
            th {
                background-color: #a5d1fd;
            }
        }
    }
}


/* button css*/

.btn-icon {
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    color: var(--bs-light);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    i {
        color: var(--bs-light);
    }
}


/** modal css */

.modal-dialog {
    .modal-header {
        padding: .5rem 1rem;
        align-items: center;
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
        .modal-title {
            font-size: 1.125rem;
            color: var(--bs-light) !important;
        }
    }
    .modal-content {
        border-radius: 8px;
    }
    .modal-body {
        min-height: 30vh;
    }
    .modal-footer {
        padding: .5rem 1rem;
    }
}


/** input css */

.form-control {
    .disabled {
        background-color: #7c7c7d;
    }
}

.form-label-cs {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.row-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .335rem 0;
    label {
        margin: 0;
    }
}

.disabled {
    input,
    select {
        background-color: #7c7c7d;
        pointer-events: none;
    }
}

.invalid-feedback {
    display: block;
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        margin: .5rem 0;
        position: relative;
    }
}


/* Product css */

.product-2 {
    overflow: unset;
    transition: all 0.3s;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 3px 5px 3px rgba(60, 64, 67, .1);
    .product-body {
        padding: 0 1rem;
    }
    .product-title {
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #111;
        height: 40px;
        overflow: hidden;
        margin: 0;
    }
    .product-price {
        height: 30px;
        font-size: 14px;
        line-height: 30px;
    }
    .product-nav-dots {
        margin: 0.875rem !important;
    }
}

.collapse {
    visibility: unset !important;
}

.disabled{
    pointer-events: none;
}

/* end product css*/
